<!DOCTYPE html>
<html lang="ru">

<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <title>Вход</title>
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Вход в систему
                </h1>
                <h6>Совет: если при вводе данных ничего не происходит, значит вы неправильно вводите данные :)</h6>
            </div>
        </div>
    </section>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.username }}
            {{ form.password }}
            {{ form.submit }}
        </form>



    <a class="button" href="{{ url_for('register') }}">Нет аккаунта? Зарегестрируйся здесь</a>
<footer class="footer">
        <h1>разработал так себе программист: theycallmesalute</h1>
    </footer>
</body>

</html>